.input {
	background-color: #ededf1;
	border-radius: 3px;
	border: none;
	height: 40px;
	outline: none;
	padding: 8px 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;

	@include placeholder {
		color: #8e90a6;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
	}
}
