.button {
	@extend .transition-active;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 3px;
	height: 40px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	background-color: $main-page-color;
	color: #fff;
	cursor: pointer;

	&:hover {
		background-color: rgba($main-page-color, 0.3);
		color: rgba(#fff, 0.8);
		transition: none;
	}

	&:active {
		background-color: rgba($main-page-color, 0.25);
	}

	&_white {
		color: #000;
		background-color: #fff;
		border: 1px solid $border-line-color;

		&:hover {
			background-color: rgba(#fff, 0.3);
			color: rgba(#000, 0.8);
			transition: none;
		}

		&:active {
			background-color: rgba(#fff, 0.25);
		}
	}
}
